/* CSS from sharingbuttons.io, see README.md */
/* Made some selectors stronger to trump jquery ui css. */
a.unishare-sharing-button__link,
div.unishare-sharing-button__icon {
    display: inline-block
}

html a.unishare-sharing-button__link {
    border: none;
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

div.unishare-sharing-button {
    border: none;
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.unishare-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: text-top
}

.unishare-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.unishare-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.unishare-sharing-button__icon--solid,
.unishare-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.unishare-sharing-button--mastodon {
    background-color: #3088D4
}

.unishare-sharing-button--mastodon:hover {
    background-color: #006fc2
}

.unishare-sharing-button--twitter {
    background-color: #55acee
}

.unishare-sharing-button--twitter:hover {
    background-color: #2795e9
}

.unishare-sharing-button--pinterest {
    background-color: #bd081c
}

.unishare-sharing-button--pinterest:hover {
    background-color: #8c0615
}

.unishare-sharing-button--facebook {
    background-color: #3b5998
}

.unishare-sharing-button--facebook:hover {
    background-color: #2d4373
}

.unishare-sharing-button--tumblr {
    background-color: #35465C
}

.unishare-sharing-button--tumblr:hover {
    background-color: #222d3c
}

.unishare-sharing-button--reddit {
    background-color: #5f99cf
}

.unishare-sharing-button--reddit:hover {
    background-color: #3a80c1
}

.unishare-sharing-button--linkedin {
    background-color: #0077b5
}

.unishare-sharing-button--linkedin:hover {
    background-color: #046293
}

.unishare-sharing-button--email {
    background-color: #25D366
}

.unishare-sharing-button--email:hover {
    background-color: #1da851
}

.unishare-sharing-button--xing {
    background-color: #1a7576
}

.unishare-sharing-button--xing:hover {
    background-color: #114c4c
}

.unishare-sharing-button--hackernews {
    background-color: #FF6600
}
.unishare-sharing-button--hackernews:hover {
    background-color: #ff6300
}
