{% set description = description|striptags %}
{# All vars go into attributes, so use apprpriate escaping. #}
{% autoescape 'html_attr' %}
  <div data-unishare>
    <a class="{{ classes|join(' ') }}"
       data-unishare-button
       data-url="{{ url }}"
       data-title="{{ title }}"
       data-description="{{ description }}"
       style="background-image: url('{{ icon }}');">{{ 'Share'|trans }}</a>

    <div hidden>
      <div data-unishare-dialog>
        {# Buttons except mastodon from sharingbuttons.io, see README.md #}
        {# For mastodon relay, thanks to https://github.com/NickKaramoff/toot #}

        <!-- Sharingbutton E-Mail -->
        <a class="unishare-sharing-button__link" href="mailto:?subject={{ title }}&amp;body={{ url }}" target="_self" rel="noopener" aria-label="E-Mail">
          <div class="unishare-sharing-button unishare-sharing-button--email unishare-sharing-button--medium"><div aria-hidden="true" class="unishare-sharing-button__icon unishare-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22 4H2C.9 4 0 4.9 0 6v12c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM7.25 14.43l-3.5 2c-.08.05-.17.07-.25.07-.17 0-.34-.1-.43-.25-.14-.24-.06-.55.18-.68l3.5-2c.24-.14.55-.06.68.18.14.24.06.55-.18.68zm4.75.07c-.1 0-.2-.03-.27-.08l-8.5-5.5c-.23-.15-.3-.46-.15-.7.15-.22.46-.3.7-.14L12 13.4l8.23-5.32c.23-.15.54-.08.7.15.14.23.07.54-.16.7l-8.5 5.5c-.08.04-.17.07-.27.07zm8.93 1.75c-.1.16-.26.25-.43.25-.08 0-.17-.02-.25-.07l-3.5-2c-.24-.13-.32-.44-.18-.68s.44-.32.68-.18l3.5 2c.24.13.32.44.18.68z"/></svg></div>E-Mail</div>
        </a>

        <!-- Share to mastodon -->
        <a class="unishare-sharing-button__link" href="https://toot.karamoff.dev/?text={{ title }}%0d{{ url }}" target="_blank" rel="noopener" aria-label="Mastodon">
          <div class="unishare-sharing-button unishare-sharing-button--mastodon unishare-sharing-button--medium"><div aria-hidden="true" class="unishare-sharing-button__icon unishare-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.193 7.879c0-5.206-3.411-6.732-3.411-6.732C18.062.357 15.108.025 12.041 0h-.076c-3.068.025-6.02.357-7.74 1.147 0 0-3.411 1.526-3.411 6.732 0 1.192-.023 2.618.015 4.129.124 5.092.934 10.109 5.641 11.355 2.17.574 4.034.695 5.535.612 2.722-.15 4.25-.972 4.25-.972l-.09-1.975s-1.945.613-4.129.539c-2.165-.074-4.449-.233-4.799-2.891a5.499 5.499 0 01-.048-.745s2.125.52 4.817.643c1.646.075 3.19-.097 4.758-.283 3.007-.359 5.625-2.212 5.954-3.905.517-2.665.475-6.507.475-6.507zm-4.024 6.709h-2.497V8.469c0-1.29-.543-1.944-1.628-1.944-1.2 0-1.802.776-1.802 2.312v3.349h-2.483v-3.35c0-1.536-.602-2.312-1.802-2.312-1.085 0-1.628.655-1.628 1.944v6.119H4.832V8.284c0-1.289.328-2.313.987-3.07.68-.758 1.569-1.146 2.674-1.146 1.278 0 2.246.491 2.886 1.474L12 6.585l.622-1.043c.64-.983 1.608-1.474 2.886-1.474 1.104 0 1.994.388 2.674 1.146.658.757.986 1.781.986 3.07v6.304z"/></svg></div>Mastodon</div>
        </a>

        <!-- Sharingbutton Facebook -->
        <a class="unishare-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u={{ url }}" target="_blank" rel="noopener" aria-label="Facebook">
          <div class="unishare-sharing-button unishare-sharing-button--facebook unishare-sharing-button--medium"><div aria-hidden="true" class="unishare-sharing-button__icon unishare-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/></svg></div>Facebook</div>
        </a>

        <!-- Sharingbutton Twitter -->
        <a class="unishare-sharing-button__link" href="https://twitter.com/intent/tweet/?text={{ title }}&amp;url={{ url }}" target="_blank" rel="noopener" aria-label="Twitter">
          <div class="unishare-sharing-button unishare-sharing-button--twitter unishare-sharing-button--medium"><div aria-hidden="true" class="unishare-sharing-button__icon unishare-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/></svg></div>Twitter</div>
        </a>

        <!-- Sharingbutton Tumblr -->
        <a class="unishare-sharing-button__link" href="https://www.tumblr.com/widgets/share/tool?posttype=link&amp;title={{ title }}&amp;caption={{ description }}&amp;content={{ url }}&amp;canonicalUrl={{ url }}&amp;shareSource=tumblr_share_button" target="_blank" rel="noopener" aria-label="Tumblr">
          <div class="unishare-sharing-button unishare-sharing-button--tumblr unishare-sharing-button--medium"><div aria-hidden="true" class="unishare-sharing-button__icon unishare-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.5.5v5h5v4h-5V15c0 5 3.5 4.4 6 2.8v4.4c-6.7 3.2-12 0-12-4.2V9.5h-3V6.7c1-.3 2.2-.7 3-1.3.5-.5 1-1.2 1.4-2 .3-.7.6-1.7.7-3h3.8z"/></svg></div>Tumblr</div>
        </a>

        <!-- Sharingbutton Pinterest -->
        <a class="unishare-sharing-button__link" href="https://pinterest.com/pin/create/button/?url={{ url }}&amp;media={{ url }}&amp;description={{ title }}" target="_blank" rel="noopener" aria-label="Pinterest">
          <div class="unishare-sharing-button unishare-sharing-button--pinterest unishare-sharing-button--medium"><div aria-hidden="true" class="unishare-sharing-button__icon unishare-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.14.5C5.86.5 2.7 5 2.7 8.75c0 2.27.86 4.3 2.7 5.05.3.12.57 0 .66-.33l.27-1.06c.1-.32.06-.44-.2-.73-.52-.62-.86-1.44-.86-2.6 0-3.33 2.5-6.32 6.5-6.32 3.55 0 5.5 2.17 5.5 5.07 0 3.8-1.7 7.02-4.2 7.02-1.37 0-2.4-1.14-2.07-2.54.4-1.68 1.16-3.48 1.16-4.7 0-1.07-.58-1.98-1.78-1.98-1.4 0-2.55 1.47-2.55 3.42 0 1.25.43 2.1.43 2.1l-1.7 7.2c-.5 2.13-.08 4.75-.04 5 .02.17.22.2.3.1.14-.18 1.82-2.26 2.4-4.33.16-.58.93-3.63.93-3.63.45.88 1.8 1.65 3.22 1.65 4.25 0 7.13-3.87 7.13-9.05C20.5 4.15 17.18.5 12.14.5z"/></svg></div>Pinterest</div>
        </a>

        <!-- Sharingbutton LinkedIn -->
        <a class="unishare-sharing-button__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ url }}&amp;title={{ title }}&amp;summary={{ description }}&amp;source={{ url }}" target="_blank" rel="noopener" aria-label="LinkedIn">
          <div class="unishare-sharing-button unishare-sharing-button--linkedin unishare-sharing-button--medium"><div aria-hidden="true" class="unishare-sharing-button__icon unishare-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.5 21.5h-5v-13h5v13zM4 6.5C2.5 6.5 1.5 5.3 1.5 4s1-2.4 2.5-2.4c1.6 0 2.5 1 2.6 2.5 0 1.4-1 2.5-2.6 2.5zm11.5 6c-1 0-2 1-2 2v7h-5v-13h5V10s1.6-1.5 4-1.5c3 0 5 2.2 5 6.3v6.7h-5v-7c0-1-1-2-2-2z"/></svg></div>LinkedIn</div>
        </a>

        <!-- Sharingbutton Reddit -->
        <a class="unishare-sharing-button__link" href="https://reddit.com/submit/?url={{ url }}&amp;resubmit=true&amp;title={{ title }}" target="_blank" rel="noopener" aria-label="Reddit">
          <div class="unishare-sharing-button unishare-sharing-button--reddit unishare-sharing-button--medium"><div aria-hidden="true" class="unishare-sharing-button__icon unishare-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 11.5c0-1.65-1.35-3-3-3-.96 0-1.86.48-2.42 1.24-1.64-1-3.75-1.64-6.07-1.72.08-1.1.4-3.05 1.52-3.7.72-.4 1.73-.24 3 .5C17.2 6.3 18.46 7.5 20 7.5c1.65 0 3-1.35 3-3s-1.35-3-3-3c-1.38 0-2.54.94-2.88 2.22-1.43-.72-2.64-.8-3.6-.25-1.64.94-1.95 3.47-2 4.55-2.33.08-4.45.7-6.1 1.72C4.86 8.98 3.96 8.5 3 8.5c-1.65 0-3 1.35-3 3 0 1.32.84 2.44 2.05 2.84-.03.22-.05.44-.05.66 0 3.86 4.5 7 10 7s10-3.14 10-7c0-.22-.02-.44-.05-.66 1.2-.4 2.05-1.54 2.05-2.84zM2.3 13.37C1.5 13.07 1 12.35 1 11.5c0-1.1.9-2 2-2 .64 0 1.22.32 1.6.82-1.1.85-1.92 1.9-2.3 3.05zm3.7.13c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9.8 4.8c-1.08.63-2.42.96-3.8.96-1.4 0-2.74-.34-3.8-.95-.24-.13-.32-.44-.2-.68.15-.24.46-.32.7-.18 1.83 1.06 4.76 1.06 6.6 0 .23-.13.53-.05.67.2.14.23.06.54-.18.67zm.2-2.8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm5.7-2.13c-.38-1.16-1.2-2.2-2.3-3.05.38-.5.97-.82 1.6-.82 1.1 0 2 .9 2 2 0 .84-.53 1.57-1.3 1.87z"/></svg></div>Reddit</div>
        </a>

        <!-- Sharingbutton XING -->
        <a class="unishare-sharing-button__link" href="https://www.xing.com/app/user?op=share;url={{ url }};title={{ title }}" target="_blank" rel="noopener" aria-label="XING">
          <div class="unishare-sharing-button unishare-sharing-button--xing unishare-sharing-button--medium"><div aria-hidden="true" class="unishare-sharing-button__icon unishare-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.2 9.7l-3-5.4C7.2 4 7 4 6.8 4h-5c-.3 0-.4 0-.5.2v.5L4 10 .4 16v.5c0 .2.2.3.4.3h5c.3 0 .4 0 .5-.2l4-6.6v-.5zM24 .2l-.5-.2H18s-.2 0-.3.3l-8 14v.4l5.2 9c0 .2 0 .3.3.3h5.4s.3 0 .4-.2c.2-.2.2-.4 0-.5l-5-8.8L24 .7V.2z"/></svg></div>XING</div>
        </a>

        <!-- Sharingbutton Hacker News -->
        <a class="unishare-sharing-button__link" href="https://news.ycombinator.com/submitlink?u={{ url }}&amp;t={{ title }}" target="_blank" rel="noopener" aria-label="Hacker News">
          <div class="unishare-sharing-button unishare-sharing-button--hackernews unishare-sharing-button--medium"><div aria-hidden="true" class="unishare-sharing-button__icon unishare-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140"><path fill-rule="evenodd" d="M60.94 82.314L17 0h20.08l25.85 52.093c.397.927.86 1.888 1.39 2.883.53.994.995 2.02 1.393 3.08.265.4.463.764.596 1.095.13.334.262.63.395.898.662 1.325 1.26 2.618 1.79 3.877.53 1.26.993 2.42 1.39 3.48 1.06-2.254 2.22-4.673 3.48-7.258 1.26-2.585 2.552-5.27 3.877-8.052L103.49 0h18.69L77.84 83.308v53.087h-16.9v-54.08z"></path></svg></div>Hacker News</div>
        </a>

      </div>
    </div>
  </div>
{% endautoescape %}
